SUPABASE_URL=postgresql://postgres:Vky770505@@@@@@@@@@@db.ljqqwlyzmskmfzzsdbdx.supabase.co:5432/postgres
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqcXF3bHl6bXNrbWZ6enNkYmR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNzIyMDMsImV4cCI6MjA4Nzk0ODIwM30.pLkEOhe5fgcnB4rqel4-EM7Z3A6-e-26zVCTYpx6QcU
PORT=4000
